<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
</head>
<body>
    <!--Main container-->
    <div class="content-wrapper">
        <!--navbar-->
        <div class="navbar">
            <div class="logo">ASCII ART WEB</div>
            <div class="nav-links">
                <a href="/home">Home</a>
                <a href="/about" class="active">About</a>
                <a href="/instructions">Instructions</a>
            </div>
        </div>
        <div class="containers">
          <div class="ascii-art">
  _|_|   _|                           _|     
_|    _| _|_|_|     _|_|   _|    _| _|_|_|_| 
_|_|_|_| _|    _| _|    _| _|    _|   _|     
_|    _| _|    _| _|    _| _|    _|   _|     
_|    _| _|_|_|     _|_|     _|_|_|     _|_| 


          </div>
                     <main>
                       <section class="section">
                         <h2>About</h2>
                         <p>ASCII Art Web is a platform dedicated to the creation and appreciation of ASCII art. We aim to preserve and promote this unique form of digital expression, bridging the gap between vintage computing aesthetics and modern web technologies.</p>
                       </section>
                 
                       <section class="section">
                         <h2>Features</h2>
                         <ul>
                           <li>Multiple banner styles to choose from</li>
                           <li>Interactive web interface for  creating ASCII art.</li>
                           <li> Responsive design for desktop and mobile devices.</li>
                         </ul>
                       </section>
                 
                       <section class="section">
                         <h2>How It Works</h2>
                         <ol>
                           <li>Enter your desired text in the input field</li>
                           <li>Choose a banner font from the available options</li>
                           <li>Click the "Generate" button to create your ASCII art</li>
                           <li>Copy the generated art if you wish to.</li>
                         </ol>
                       </section>
                 
                       <section class="section">
                         <h2>Getting Started</h2>
                         <ol>
                           <li>Clone the ASCII Art Web repository:
                             pres><code>git clone https://learn.zone01kisumu.ke/git/shfana/ascii-art-web</code></pre>
                           </li>
                           <li>Navigate to the project directory:
                             pres><code>cd ascii-art-web</code></pre>
                           </li>
                           <li>Run the application:
                             pres><code>go run . </code></pre>
                           </li>
                           <li>Open your web browser and go to <code>http://localhost:8080</code> to start using ASCII Art Web</li>
                         </ol>
                       </section>
                 
                       <section class="section">
                         <h2>Limitations</h2>
                         <ul>
                           <li>ASCII art is limited to the 95 printable ASCII characters</li>
                           <li>Complex images may not translate well to ASCII format</li>
                           <li>Some banner styles may have character length restrictions</li>
                           <li>ASCII art may not display correctly on all devices or fonts</li>
                         </ul>
                       </section>
                 
                       <section class="section">
                         <h2>Future Improvements</h2>
                         <ul>
                           <li>Implement saving art feature as a file</li>
                           <li>Add support for custom color schemes</li>
                           <li>Add Feature to align the art</li>
                         </ul>
                       </section>
                 
                       <section class="section">
                         <h2>Contributions</h2>
                         <p>We welcome contributions from the community to help improve ASCII Art Web. Here's how you can contribute:</p>
                         <ul>
                           <li>Report bugs or suggest features on our GitHub repository</li>
                           <li>Submit pull requests for code improvements</li>
                           <li>Create and share new ASCII art styles</li>
                           <li>Write documentation or improve existing docs</li>
                           <li>Help optimize the application for better performance</li>
                         </ul>
                         <p>For more information on how to contribute, please read our <a href="https://learn.zone01kisumu.ke/git/shfana/ascii-art-web/src/branch/master/README.md" target="_blank">README.md</a> file on Gitea.</p>
                       </section>
                 
                       <section class="section">
                         <h2>Authors</h2>
                         <div class="team-member">
                           <img src="/assets/images/will.png" alt="Wilfred Njuguna" width="70" height="70">
                           <div>
                             <h3>Will Njuguna</h3>
                             <div class="social-links">
                               <a href="https://www.linkedin.com/in/wilfred-njuguna-583530243/" target="_blank">LinkedIn</a>
                               <a href="https://github.com/Calmon958" target="_blank">GitHub</a>
                             </div>
                           </div>
                         </div>
                         <div class="team-member">
                           <img src="/assets/images/cliff.png" alt="Clifford Otieno" width="70" height="70">
                           <div>
                             <h3>Clifford Otieno</h3>
                             <div class="social-links">
                               <a href="https://www.linkedin.com/in/john-smith-ascii" target="_blank">LinkedIn</a>
                               <a href="https://github.com/johnsmith-ascii" target="_blank">GitHub</a>
                             </div>
                           </div>
                         </div>
                         <div class="team-member">
                           <img src="/assets/images/ff.jpeg" alt="Sheila Fana" width="70" height="70">
                           <div>
                             <h3>Sheila Fana</h3>
                             <div class="social-links">
                               <a href="https://www.linkedin.com/in/fana-wambita-690a48213/" target="_blank">LinkedIn</a>
                               <a href="https://github.com/Wambita" target="_blank">GitHub</a>
                             </div>
                           </div>
                         </div>
                       </section>
                     </main>
                 
                     <footer>
                        <div>&copy; 2024 ASCII ART WEB. All rights reserved</div>
                      <a href="https://learn.zone01kisumu.ke/git/shfana/ascii-art-web" target="_blank" rel="noopener noreferrer">
                        <img width="30" height="30" src="/assets/favicon_io/icons8-github-50.svg" alt="github"/>
                      </a>  
                      </footer>
                   </div> 
</div>

        </body>
        </html>