<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART WEB</title>

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
</head>
<body>
    <!--Main container-->
    <div class="content-wrapper">
        <!--navbar-->
        <div class="navbar">
            <div class="logo">ASCII ART WEB</div>
            <div class="nav-links">
                <a href="index.html" class="active">Home</a>
                <a href="about.html">About</a>
                <a href="instructions.html">Instructions</a>
            </div>
        </div>

    </div>
</body>
</html>