<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART WEB</title>
    <!--stylesheet and font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
</head>
<body>
    <div class="content-wrapper">
        <!--navbar-->
        <div class="navbar">
            <div class="logo">ASCII ART WEB</div>
            <div class="nav-links">
                <a href="/home"class="active"> Home</a>
                <a href="/about">About</a>
                <a href="/instructions">Instructions</a>
            </div>
        </div>
<div class="container">
    <!--input section-->
    <div class="form-container">
        <div class="input-section">
            <form method="POST" action="/ascii-art">
                <div  class="tiny-text"   id="line-1">Enter text to display in input field</div>
                <textarea type="text" name= "input" id="input-text" placeholder="Enter your text here" required></textarea>
                <div class="tiny-text">
                    <div class="line-2">select bannerfile & click submit button</div>
                </div>
                <div class="option-row">
                    <select name="bannerfile" id="banner" required>
                        <option value="standard">standard</option>
                        <option value="shadow">shadow</option>
                        <option value="thinkertoy">thinkertoy</option>
                    </select>
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
        <!--art-->
        <div class="ascii-art">  
      O    o-o    o-o o-O-o o-O-o 
     / \  |      /      |     |   
    o---o  o-o  O       |     |   
    |   |     |  \      |     |   
    o   o o--o    o-o o-O-o o-O-o 
                              
                              
                        
        O   o--o  o-O-o 
       / \  |   |   |   
      o---o O-Oo    |   
      |   | |  \    |   
      o   o o   o   o   
                        
                        
                           
      o       o o--o o--o  
      |       | |    |   | 
      o   o   o O-o  O--o  
       \ / \ /  |    |   | 
        o   o   o--o o--o  
                           

        
        </div>
    </div>
    <!--Art output section-->
    <div class="output-section">
        
        <p  style="color: #34d399">Output:</p>
            <pre></pre>
    </div>
    
</div>
<footer>
    <div>&copy; 2024 ASCII ART WEB. All rights reserved</div>
  <a href="https://learn.zone01kisumu.ke/git/shfana/ascii-art-web" target="_blank" rel="noopener noreferrer" id="github-icon">
    <img width="30" height="30" src="/assets/favicon_io/icons8-github-50.svg" alt="github"/>
  </a>  
</footer>
    </div>
</body>
</html>