<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART WEB</title>

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
</head>
<body>
    <!--Main container-->
    <div class="content-wrapper">
        <!--navbar-->
        <div class="navbar">
            <div class="logo">ASCII ART WEB</div>
            <div class="nav-links">
                <a href="index.html" class="active">Home</a>
                <a href="about.html">About</a>
                <a href="instructions.html">Instructions</a>
            </div>
        </div>
<div class="container">
    <div class="form-container">
        <div class="input-section">
            <form>
                <textarea type="text" id="input-text" placeholder="Enter your text here"></textarea>
                <div class="option-row">
                    <select name="bannerfile" id="text-option" required>
                        <option value="standard">standard</option>
                        <option value="shadow">shadow</option>
                        <option value="thinkertoy">thinkertoy</option>
                    </select>
                    <button type="submit">submit</button>
                </div>
                <div class="tiny-text">
                    <div class="line-1">Enter text to display in input field</div>
                    <div class="line-2">select bannerfile & click submit button</div>
                </div>
            </form>
        </div>
        <div class="ascii-art">
                                                                                                                      
            _| _|                           _|                                       _|       
            _|_|_|   _|_|_|   _|_|_|               _|_|_| _|  _|_| _|_|_|_|       _|      _|      _|   _|_|   _|_|_|   
          _|    _| _|_|     _|       _| _|       _|    _| _|_|       _|           _|      _|      _| _|_|_|_| _|    _| 
          _|    _|     _|_| _|       _| _|       _|    _| _|         _|             _|  _|  _|  _|   _|       _|    _| 
            _|_|_| _|_|_|     _|_|_| _| _|         _|_|_| _|           _|_|           _|      _|       _|_|_| _|_|_|   
                                                                                                                       
             
        </div>
    </div>
    <div class="output-section">
        <textarea id="output-text" rows="8" placeholder="Output will appear here" readonly></textarea>
        <button id="download-btn">Download Output</button>
    </div>
</div>
    </div>
</body>
</html>