<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART WEB</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-32x32.png">
    <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
</head>
<body>
    <!--Main container-->
    <div class="content-wrapper">
        <!--navbar-->
        <div class="navbar">
            <div class="logo">ASCII ART WEB</div>
            <div class="nav-links">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="instructions.html" class="active">Instructions</a>
            </div>
        </div>
        <div class="container">
            <h2>Instructions</h2>
            <div class="form-container">
        <div class="ascii-art">
                         _   _  
    /\                  (_) (_) 
   /  \     ___    ___   _   _  
  / /\ \   / __|  / __| | | | | 
 / ____ \  \__ \ | (__  | | | | 
/_/    \_\ |___/  \___| |_| |_| 
                        
                        
                    _          
      /\            | |         
     /  \     _ __  | |_        
    / /\ \   | '__| | __|       
   / ____ \  | |    \ |_        
  /_/    \_\ |_|     \__|       
                            
                            
     __          __         _      
     \ \        / /        | |     
      \ \  /\  / /    ___  | |__   
       \ \/  \/ /    / _ \ | '_ \  
        \  /\  /    |  __/ | |_) | 
         \/  \/      \___| |_.__/  
                                    
</div>
<div class="input-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis erat porttitor, egestas felis non, fermentum orci. Fusce in leo sollicitudin, auctor nulla a, consectetur mauris. Pellentesque eget bibendum velit. Nam non mi dictum, viverra augue id, aliquet nibh. Etiam vel tristique turpis, et aliquet arcu. Vestibulum sit amet felis in massa porta iaculis sit amet eu nibh. Nulla at metus id sapien tempor eleifend. Fusce at interdum odio. Curabitur fringilla suscipit libero in tincidunt. Praesent commodo, dolor vel vehicula placerat, orci nisl sollicitudin eros, at sollicitudin turpis sem in eros. </p>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis erat porttitor, egestas felis non, fermentum orci. Fusce in leo sollicitudin, auctor nulla a, consectetur mauris. Pellentesque eget bibendum velit. Nam non mi dictum, viverra augue id, aliquet nibh. Etiam vel tristique turpis, et aliquet arcu. Vestibulum sit amet felis in massa porta iaculis sit amet eu nibh. Nulla at metus id sapien tempor eleifend. Fusce at interdum odio. Curabitur fringilla suscipit libero in tincidunt. Praesent commodo, dolor vel vehicula placerat, orci nisl sollicitudin eros, at sollicitudin turpis sem in eros. </p>
</div>
</div>
        </div>     
        <footer>
            <div>&copy; 2024 ASCII ART WEB. All rights reserved</div>
          <a href="https://learn.zone01kisumu.ke/git/shfana/ascii-art-web" target="_blank" rel="noopener noreferrer">
          </a>  
        </footer>
            </div>
        </body>
        </html>