body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    height: 100%;
    background-color: #111827;
    color: #f0f0f0;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.content-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
/*navbar styling*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    margin-bottom: 20px;
    background-color: #1f2937;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.logo{
    font-size: 28px;
    font-weight: 600;
    color: #34d399;
}
.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links a {
color: #f0f0f0;
text-decoration: none;
font-weight: 500;
font-size: 18px;
transition: color 0.3s;
}
.nav-links a:hover, .nav-links a.active{
    color:#34d399;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Input form styling*/
.form-container{
background-color: rgba(31, 41, 55, 0.9);
padding: 40px;
border-radius: 12px;
box-shadow: 0 0 20px rgba(0,0,0,0.4);
width:100%;
max-width: 1000px;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

/*input section*/
.input-section{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
input, select,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #2d3748;
    color: #f0f0f0;
    margin: 5px 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
}

textarea{
    min-height: 150px;
    resize: vertical;
    overflow: scroll;
}
button {
    padding: 12px 24px;
    background-color: #34d399;
    color: white;
    border: none; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s;
    margin: 5px 0;
    font-family: 'Poppins', Arial, sans-serif;
}
button:hover {
    background-color: #2ab380;
}
footer{
    background-color: #1f2937;
    padding: 10px 20px;
    font-size: 16px;
    color: #f0f0f0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}
#github-icon{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    filter: invert(1);
}
.ascii-art{
    width: 48%;
    font-family: monospace;
    white-space: pre;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #34d399;
    overflow: hidden;
}

#download-btn{
    margin-top: 10px;
}

.output-section{
    width: 100%;
    max-width: 1000px;
    background-color: rgba(31,41,55, 0.9);
     padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);

}
.output-section textarea{
    min-height: 200px;
}
.option-row{
    display: flex;
    gap:10px;
    align-items: center;
    width: 100%;
}
.tiny-text{
  font-size: 16px;
  line-height: 1.2;
  margin-top: 15px;  
  padding: 20px;
}
.tiny-text .line-1 {
    color: #ffffff;
}
.tiny-text .line-2 {
    color: #00ff00;
}

/*Media queries*/
@media (max-width:820px) {
    .logo{
        font-size: 18px;
        margin: 10px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .option-row {
        flex-direction: column;
        gap: 10px;
    }
    .form-container, .output-section {
        padding: 15px;
        width: 90%;
        flex-direction: column;
    }
    .input-section, .ascii-art{
        width: 100%;
    }
    .content-wrapper{
        width: 80%;
    }
}
@media (max-width: 600px) {
    .logo{
        font-size: 18px;
        margin: 10px;
    }
    .input-section, .ascii-art{
        width: 100%;
    }
    .ascii-art{
    font-family: monospace;
    white-space: pre;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: #34d399;
    overflow: hidden;
    }
    .form-container, .output-section {
        padding: 15px;
        width: 90%;
        flex-direction: column;
    }
    .output-section textarea{
        width: 96%;
    }
    textarea, input, select, button {
        font-size: 14px;
        padding: 10px;
        overflow: auto;
        width: 96%;

    }
    .option-row {
        flex-direction: column;
        align-items: stretch;
    }
}